# bash aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Uses neovim as default
alias vim=nvim

# Related to bat
alias bat=batcat
alias cat=bat

# xclip
alias clip="xclip -selection clipboard"
