window {
    --bg: #282828;
    --fg: #ebdbb2;
    --red: #cc241d;
    --light-red: #fb4934;
    --green: #98971a;
    --light-green: #b8bb26;
    --yellow: #d79923;
    --light-yellow: #f1bd2f;
    --blue: #458588;
    --light-blue: #83a598;
    --purple: #b16286;
    --light-purple: #d3869b;
    --aqua: #689d6a;
    --light-aqua: #8ec87c;
    --grey: #a89984;
    --light-grey: #928374;
    --orange: #d65d0e;
    --light-orange: #fe8019;
}
